@model ManageOrders00.Models.Position

@{
    ViewData["Title"] = "Змінити";
}

<h1>Змінити</h1>

<h4>Позицію</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PositionId" />
            <div class="form-group">
                <input type="hidden" class="form-control" for="OrderId" value="@ViewBag.OrderNum.p" name="OrderId" />
                <input type="hidden" class="form-control" for="OrderId" value="@ViewBag.ProductId.productId" name="ProductId" />
            </div>

            <div class="form-group form__poditionId">
                <input type="hidden" for="PopsitionId" class="form-control" value="@ViewBag.PositionNum.id" name="PopsitionId" disabled />
            </div>

            <div class="form-group">
                <label asp-for="ProductCount" class="control-label"></label>
                <input asp-for="ProductCount" class="form-control" />
                <span asp-validation-for="ProductCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
